<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Ecom</title>
    </head>
    <body>
        <div>
            <h1>Checkout Detail</h1><br><br>
            <span>Order Id:</span><span th:utext="${oid}"></span><br>
            <span>Total:</span><span th:utext="${total}"></span><br>
            <p>You have checked out successfully.....Click <a th:href="@{/products}">here</a> to Shop More</p>
        </div>
    </body>
</html>