<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Product List</title>
   </head>
   <body>
       
      <div class="page-title">Product List</div><br>
      
      
      <table border="1">
      	<thead>
      		<tr>
      			<th>Product Name</th>
      			<th>Product Color</th>
      			<th>Product Price</th>
      			<th>Action</th>
      		</tr>
      	</thead>
      	
      	<tbody>
      		<tr th:each="prodInfo : ${paginationProducts}">
      			<td th:utext="${prodInfo.name}"/>
      			<td th:utext="${prodInfo.color}"/>
      			<td th:utext="${prodInfo.price}"/>
      			<td><a th:href="@{|/addToCart?id=${prodInfo.id}|}">Add to Cart</a></td>
      		</tr>
      	</tbody>
      
      </table>
       
      <br/><br>
       
       <div class="page-title">Cart </div><br>
       <table border="1">
      	<thead>
      		<tr>
      			<th>Product Name</th>
      			<th>Product Quantity</th>
      			<th>Product Price</th>
      			<th>Action</th>
      		</tr>
      	</thead>
      	
      	<tbody>
      		<tr th:each="c : ${cart}">
      			<td th:utext="${c.pname}"/>
      			<td th:utext="${c.quantity}"/>
      			<td th:utext="${c.price}"/>
      			<td><a th:href="@{|/removeFromCart?id=${c.id}|}">Remove</a></td>
      		</tr>
      	</tbody>
      
      </table>
      <br><br>
      <div><a th:href="@{/checkout}">Checkout</a></div>
   </body>
</html>