<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <title>Ecom</title>
    </head>
    <body>
        <div>
            <h1>Welcome to Ecom!</h1>
            <p>Click <a th:href="@{/signup}">here</a> to Register or <a th:href="@{/login}">Login</a></p>
        </div>
    </body>
</html>